  .search_bar {
   display: block;
   flex: 1;
   height: 27px;
   padding-left: 10px;
   font-size: 16px;
   border-color: rgb(165, 163, 163);
   border: 1px solid;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;

  }
  .search_bar::placeholder
  {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
  }
  .search-icon
  {
    height: 25px;
    margin-top: 4px;
  }
  .header
  {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: white;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 225, 225);
  }


  .left-section 
  {
    align-items: center;
    display: flex;

  }
  .middle-section 
  {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
  }
 
  .search-button {
    width: 66px;
    height: 32px;
    background-color: rgb(215, 212, 212);
    border: solid 1px rgb(165, 163, 163);
    margin-left: -1px;
    margin-right: 10px;

  }
  .voice-search-button {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: none;
    background-color: rgb(247, 245, 245);

  }
  .voice-search-icon {

    height: 24px;
    margin-top: 4px;

  }

  .right-section 
  {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .hamburger-menu {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
  }
  .youtube-logo {
    width: 90px;
    height: 24px;
    margin: 12px;
  }
  .upload-icon 
  {
    height: 24px;
  }
  .youtube-apps-icon
  {
    height: 24px;
  }
  .notifications-icon
  {
    height: 24px;
  }
  .current-user-picture
  {
    height: 32px;
    border-radius: 16px;

  }