  .search_bar {
   display: block;
   
  }
  .header
  {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left-section 
  {
    background-color: yellowgreen;
    width: 150px;
  }
  .middle-section 
  {
    flex: 1;
    background-color: lightgray;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
  }
  .right-section 
  {
    background-color: lightblue;
    width: 200px;
  }