

  .video-title
  {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .thumbnail {
    width: 100%;
  }

  .channel-picture 
  {
    
    vertical-align: top;
  }
  .video-info
  {

    vertical-align: top;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
  }
  .thumnail-row
  {
    margin-bottom: 10px;
  }
  .video-title
  {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .video-author,.video-stats
  {
    font-size: 12px;
    color: rgb(96, 96, 96);
  
  }
  .video-author
  {
    margin-bottom: 4px;
  }
  .video-info-grid 
  {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  .video-grid
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    column-gap: 16px;
    row-gap: 16px;
  }